@model LicentaSfranciog.Models.Factura

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Sunteţi sigur ca doriţi sa ştergeţi acestă factură?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proces.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nume)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Şterge" class="btn btn-danger" /> |
        <a class="btn btn-outline-success" asp-action="Index">Înapoi la Facturi</a>
    </form>
</div>
