@model LicentaSfranciog.Models.Factura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cabinet de Avocatură Popescu şi Asociaţii</h1>

<div>
    <h4>Factură</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proces.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nume)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary no-print" asp-action="Edit" asp-route-id="@Model?.Id">Editare</a> |
    <a class="btn btn-outline-success no-print" asp-action="Index">Înapoi la Facturi</a>
    <button class="btn btn-warning no-print" onclick="window.print()"><i class="bi bi-printer-fill"></i>Imprimare</button>
</div>
