@model LicentaSfranciog.Models.Raport

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Sunteţi sigur caă doriţi să stergeti raportul?</h3>
<div>
    <h4>Raport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeProces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeProces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OreLucrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OreLucrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facturat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facturat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cheltuieli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cheltuieli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRaport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRaport)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Şterge" class="btn btn-danger" /> |
        <a class="btn btn-outline-success"  asp-action="Index">Înapoi la Rapoarte</a>
    </form>
</div>
