@model LicentaSfranciog.Models.Raport

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Raport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeProces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeProces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OreLucrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OreLucrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facturat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facturat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cheltuieli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cheltuieli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRaport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRaport)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
