@model IEnumerable<LicentaSfranciog.Models.SesiuneLucru>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sesiuni de Lucru</h1>

@if (ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Adaugă Sesiune Nouă</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.avocat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numarOre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proces)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.avocat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numarOre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proces.Nume)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editare</a> |
                <a class="btn btn-info" href="@Url.Action("RedirectToDetails", new { id = item.Id })">Detalii</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Ştergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
