@model LicentaSfranciog.Models.Cheltuiala

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Sunteţi sigur ca doriţi sa ştergeţi acestă cheltuială?</h3>
<div>
    <h4>Cheltuiala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titlu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titlu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persoana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persoana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proces.Nume)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Şterge" class="btn btn-danger" /> |
        <a class="btn btn-outline-success" asp-area="" asp-controller="Procese" asp-action="Index">Inapoi la Procese</a>
    </form>
</div>
