@model IEnumerable<LicentaSfranciog.Models.Cheltuiala>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cheltuieli Dosar</h1>

@if (ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Adaugă Cheltuială Nouă</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titlu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persoana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proces)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titlu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persoana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proces.Nume)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editare</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalii</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Ştergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
