@model IEnumerable<LicentaSfranciog.Models.Eveniment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Evenimente</h1>

@if(ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Adăugare Eveniment Nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editare</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalii</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Ştergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
