@model LicentaSfranciog.Models.SesiuneLucru

@{
    ViewData["Title"] = "DeleteSesiune";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Sunteţi sigur ca doriţi sa ştergeţi acestă sesiune?</h3>
<div>
    <h4>SesiuneLucru</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.avocat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.avocat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numarOre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numarOre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proces.Nume)
        </dd>
    </dl>

    <form asp-action="DeleteSesiune">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ştergere" class="btn btn-danger" /> |
        <a class="btn btn-outline-success" asp-action="Index">Înapoi la Procese</a>
    </form>
</div>
