@model IEnumerable<LicentaSfranciog.Models.Proces>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Procesele Cabinetului de Avocatura</h1>

@if(ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Adăugare Proces Nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obiect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solutie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OreLucrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obiect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solutie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OreLucrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Nume)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editare</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Informaţii</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Ştergere</a> |
                <a class="btn btn-info" asp-action="SesiuniLucrate" asp-route-id="@item.Id">Ore Lucrate</a>
            </td>
        </tr>
    }
        }
        else
        {
            <p>Niciun proces disponibil.</p>
        }
    </tbody>
</table>
