@model LicentaSfranciog.Models.SesiuneLucru

@{
    ViewData["Title"] = "SesiuneDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalii</h1>

<div>
    <h4>SesiuneLucru</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.avocat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.avocat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numarOre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numarOre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proces.Nume)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editare</a> |
    <a class="btn btn-outline-success" asp-action="Index">Înapoi la Procese</a>
</div>